<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://studioazurefunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d8cf1d9-28e5-4c20-add2-87ab3ea0fec4/resourceGroups/LucaTest/providers/Microsoft.Web/sites/StudioAzureFunctions</ResourceId>
    <UserName>$StudioAzureFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://studioazurefunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>